.panel#summary
  .caption #{t :opportunity_summary}
  %li
    %dt= @opportunity.stage ? t(@opportunity.stage) : t(:other)
    %tt #{t :stage}:
  %li
    %dt
      - if @opportunity.account
        = link_to(truncate(@opportunity.account.name, :length => 16), @opportunity.account, :title => @opportunity.account.name)
      - else
        #{t :n_a}
    %tt #{t :account}:

  - unless @opportunity.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format @opportunity.background_info).html_safe

  = render "fields/sidebar_show", :asset => @opportunity
  
  - if @opportunity.tag_list.present?
    %dt
      .tags= tags_for_index(@opportunity)

  = hook(:show_opportunity_sidebar_bottom, self, :opportunity => @opportunity)
