- new_voters = @account.contacts.count
- existing_voters = @account.opportunities.count

.panel#summary
  %h4= h(@account.name)
  .caption #{t :account_summary}
  %li
    %dt= existing_voters
    %tt #{t :opportunities}:
  %li
    %dt= new_voters
    %tt #{t :contacts}:
  %li.last
    %dt= new_voters + existing_voters
    %tt #{t :total_voters}:

  - unless @account.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format @account.background_info).html_safe

  = render "fields/sidebar_show", :asset => @account

  - if @account.tag_list.present?
    %dt
      .tags= tags_for_index(@account)

  = hook(:show_account_sidebar_bottom, self, :account => @account)
